{{ define "header"}}


<!doctype html>
<html lang="en">
  <head>
    <title>Tareas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="../static/styles/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
   
   
   
  </head>
  
  <body>

  <div class="container-main bg" >

    <header>
      <nav class="navbar navbar-dark bg-dark justify-content-start">
        <a class="nav-link active text-white" href="/">Home</a>
        <a class="nav-link text-white" href="/create">Crear Tareas</a>
      </nav>
    </header>

    <div class="container">

        {{ end }}