body{
    background: #f8f9fa;
    font-family: 'Sarabun', sans-serif;
  }
  
  .row{
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .card-header{
    margin-top:-40px;
    height: 80px;
    background: linear-gradient(-90deg, #11998e, #38ef7d);
    box-shadow: 1px 5px 15px #a2a2a2;
    color:#f8f9fa ;
  }

  .card-body{
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .16),
    0 2px 10px 0 rgba(0,0,0, .12);
    margin-bottom: 15px;
  }
  .card-body:hover{
    box-shadow: 1px 1px 20px #d2d2d2;
  }

  .btn {
    background:#11998e;
    color:#f8f9fa;
  }
